extends ../layout/admin

block contenido
    .py-10 
        h1.text-4xl.my-10.font-extrabold.text-center Back
            span.font-normal Log
        h2.text-center.text-3xl.text-indigo-600.font-extrabold= pagina 

        a(href="/tareas/crear" class="rounded py-2 px-10 bg-indigo-600 hover:bg-indigo-700 text-sm font-bold text-center text-white uppercase my-5 inline-block w-full md:w-auto") Publicar

        //- pre= JSON.stringify(tareas,undefined, 2)
        - tareas.sort((a, b) => b.importancia - a.importancia)

        if tareas.length 
            div(class="bg-white shadow rounded-lg")
                ul(class="divide-y divide-gray-200")
                    each Tarea in tareas   
                        li 
                            div(class="p-6 w-full flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-8 md:space-y-0 gap-4")
                        
                                div(class="sm:w-1/4 md:w-3/6 lg:w-1/6 space-y-3") 
                                    a(class="block text-2xl font-extrabold text-indigo-600 truncate" href="#")= Tarea.titulo 
                                    p(class="text-sm text-red-600  font-bold")= 'Valor de importancia: '+ Tarea.importancia
                                    p(class="text-sm text-gray-500 font-bold")= 'Tiempo estimado: '+ Tarea.estimacion 
                                    
                                    div(class=" sm:w-1/4 md:w-2/6 lg:flex-1 flex flex-col gap-2 lg:flex-row") 

                                        form(method="POST" action=`/tareas/activar/${Tarea.id}`)
                                            input(type="hidden" name="_csrf" value= csrfToken)
                                            input(type="submit" class=`md:block hidden w-full px-2 py-2 md:py-1 text-xs leading-5 font-semibold shadow rounded-sm cursor-pointer ${Tarea.publicado ? 'bg-green-100 text-green-800' : 'bg-yellow-100 text-yellow-800'}` value =`${Tarea.publicado ? 'Activado': 'Desactivado'}`)

                                        a(href=`/tareas/editar/${Tarea.id}` class="md:block hidden text-center px-2 py-2 md:py-1 text-xs leading-5 font-semibold shadow rounded-sm cursor-pointer bg-indigo-100 text-indigo-800") Editar 

                                        form(method="POST" action=`/tareas/eliminar/${Tarea.id}`)
                                            input(type="hidden" name="_csrf" value= csrfToken)
                                            input(type="submit" class=`md:block hidden w-full px-2 py-2 md:py-1 text-xs leading-5 font-semibold shadow rounded-sm cursor-pointer bg-red-100 text-red-800` value =`Eliminar`)

                                div(class="sm:w-2/4 md:w-3/6 lg:w-4/6 shadow-lg rounded-md p-6 space-y-3")

                                    p(class="text-sm text-gray-600 font-bold")= Tarea.descripcion

                                div(class=" sm:w-1/4 md:w-2/6 lg:flex-1 flex flex-col gap-2 lg:flex-row")

                                        form(method="POST" action=`/tareas/activar/${Tarea.id}`)
                                            input(type="hidden" name="_csrf" value= csrfToken)
                                            input(type="submit" class=`md:hidden w-full px-2 py-2 md:py-1 text-xs leading-5 font-semibold shadow rounded-sm cursor-pointer ${Tarea.publicado ? 'bg-green-100 text-green-800' : 'bg-yellow-100 text-yellow-800'}` value =`${Tarea.publicado ? 'Activado': 'Desactivado'}`)

                                        a(href=`/tareas/editar/${Tarea.id}` class="md:hidden text-center px-2 py-2 md:py-1 text-xs leading-5 font-semibold shadow rounded-sm cursor-pointer bg-indigo-100 text-indigo-800") Editar 

                                        form(method="POST" action=`/tareas/eliminar/${Tarea.id}`)
                                            input(type="hidden" name="_csrf" value= csrfToken)
                                            input(type="submit" class=`md:hidden w-full px-2 py-2 md:py-1 text-xs leading-5 font-semibold shadow rounded-sm cursor-pointer bg-red-100 text-red-800` value =`Eliminar`)


                                
        
        else 
            p.text-center No Hay tareas
